/*-------------------------------------------------------------------
Existing elements
-------------------------------------------------------------------*/

body {
  background-color: #6265B1;
  color: white;
  font-size: 16px;
}

.form-control[disabled] {
  background: #3E3F5A;
}

/*-------------------------------------------------------------------
Loading
-------------------------------------------------------------------*/
#loading {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: #6265B1;
}

.spinner {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background-color: #D8D8D8;
  border: 10px solid #575757;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  background-image: url('../../images/resources/cubes.jpg');
  background-size: 200%;
  -webkit-animation: gridLoop 10s infinite linear;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
@-webkit-keyframes gridLoop{
  0%{background-position: -5px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  10%{background-position: -5px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  15%{background-position: -5px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
 17%{background-position: -305px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  19%{background-position: -305px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  25%{background-position: -305px 00%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  27%{background-position: -305px 00%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  35%{background-position: -305px 200%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  40%{background-position: -305px 200%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  45%{background-position: -305px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  55%{background-position: -105px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  60%{background-position: -105px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  63%{background-position: -105px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  70%{background-position: 105px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  73%{background-position: 105px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  75%{background-position: 205px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  78%{background-position: 205px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  82%{background-position: 105px 150%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  86%{background-position: 105px 150%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  88%{background-position: 105px 120%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
  94%{background-position: 105px 180%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
  98%{background-position: 105px 180%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
  100%{background-position: -5px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
}

/*-------------------------------------------------------------------
Existing classes
-------------------------------------------------------------------*/


.thumbnail-cover {
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.developer.col-md-3 {
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

.developer .metadata {
  margin: 75px auto;
}

.developer h4 {
  font-size: 25px;
}

.btn {
  border: 0px;
}

.btn-primary {
  background-color: #6265B1;
}

.panel-default {
  background-color: #3E3F5A;
  color: white;
  border: 0;
}

.form-control {
  border: 0px;
  background-color:#292929;
  color: #92C5E4;
}

.input-group-addon {
  border: 0px;
  background-color: #232323;
  color: #4AACE8;
  /*text-shadow:  #CCC 1px 0 10px;*/
}

.thumbnail {
  position:relative;
  overflow:hidden;
  padding: 0;
  border: 0;
}

/*-------------------------------------------------------------------
New classes
-------------------------------------------------------------------*/

#home {
  margin-top: 40px;
}

.title {
  font-size: 200px;
  text-align: center;
  font-family: Helvetica, arial, sans-serif;
}

#home .title {
  line-height: 180px;
  margin: 10px auto;
}

#home .subtitle {
  margin: 10px auto 30px auto;
}

.group-spaceless > * {
  margin: 0 1px !important;
}

#button-home {
  margin: 10px;
}

.locale-select {
  margin: 8px;
  height: 30px;
  background: white !important;
  color: #333;
  border: 0 !important;
}

#button-home .icon {
  font-size: 25px;
  color: white;
}

.pages-per-process .input-group {
  margin: 5px auto;
}

.requirement {
  box-shadow: 1px 1px 1px 1px #1f1f1f;
}

.table-bordered tr td {
  border: 1px solid #333 !important;
}

.requirement.panel-heading table {
  margin: 0 auto;
}

.requirement .panel-primary {
  background-color: #008cba;
}

.requirement .panel-success {
  background-color: #3c9a5f;
}

.grey-color {
  background-color: #363942;
  border: 1px solid #333;
  font-size: 14px;
}

.panel-about {
  background-color:#363942;
  color: #B1BDC3;
}

.panel-write {
  background-color: #6265B1;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.thumbnail:hover .caption {
    top:0%;
}

.buttons-sequence {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fake-requirementsWell {
  opacity: 0.7;
}

.button-add::before{
  content: '+';
  font-weight: bolder;
  font-size: 30px;
  top: 42%;
  left: 45%;
  position: absolute;
}

.button-add:hover{
  background: rgba(0,0,0,0.70);
}

.button-add {
  transition: .5s;
  cursor: pointer;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.95);
  top:0;
  left:0;
  z-index:9;
}

.preview p {
  font-size: 20px;
}

.preview .table tr td {
    border-color: #333;
}

.preview .badge {
  padding: 5px 10px;
  font-weight: 400;
  background: #006687;
}

.btn-close {
  padding: 0px 5px;
}

/*
  Table Frames
*/

.maxWidth {
  max-width: 1200px;
}

.scrollableX {
  overflow-x: auto;
}

.rtable {
  min-width: 50px;
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  border: 2px solid #212121 !important;
  font-size: 20px;
}

.rtable-default {
  color: #69BEE8;
  background-color: #363942;
}

.rtable-pf {
  color: #f04124;
}

.rtable-async {
  background-color: #FDD54B !important;
}

.rtable-newinmemory{
  background-color: #f04124 !important;
}

.rtable-referenced{
  background-color: #008cba !important;
}

.rtable-modified{
  background-color: #6265B1 !important;
}

.rtable-newandmodified{
  background: rgba(239,58,26,1);
  background: -moz-linear-gradient(left, rgba(239,58,26,1) 0%, rgba(240,66,36,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,58,26,1)), color-stop(49%, rgba(240,66,36,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(51%, rgba(98,101,177,1)), color-stop(100%, rgba(98,101,177,1)));
  background: -webkit-linear-gradient(left, rgba(239,58,26,1) 0%, rgba(240,66,36,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: -o-linear-gradient(left, rgba(239,58,26,1) 0%, rgba(240,66,36,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,58,26,1) 0%, rgba(240,66,36,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: linear-gradient(to right, rgba(239,58,26,1) 0%, rgba(240,66,36,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3a1a', endColorstr='#6265b1', GradientType=1 );
}

.rtable-modifiedandreferenced{
  background: rgba(0,140,186,1);
  background: -moz-linear-gradient(left, rgba(0,140,186,1) 0%, rgba(0,140,186,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,140,186,1)), color-stop(49%, rgba(0,140,186,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(51%, rgba(98,101,177,1)), color-stop(100%, rgba(98,101,177,1)));
  background: -webkit-linear-gradient(left, rgba(0,140,186,1) 0%, rgba(0,140,186,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: -o-linear-gradient(left, rgba(0,140,186,1) 0%, rgba(0,140,186,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,140,186,1) 0%, rgba(0,140,186,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  background: linear-gradient(to right, rgba(0,140,186,1) 0%, rgba(0,140,186,1) 49%, rgba(0,0,0,1) 50%, rgba(98,101,177,1) 51%, rgba(98,101,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cba', endColorstr='#6265b1', GradientType=1 );
}

.rtable-finished {
  background-color: #43ac6a !important;
}

.rtable-frame {
  color: black;
  background-color: grey;
}

.rtable-legend {
  border: 2px;
  height: 80px;
  color: black !important;
  text-align: center;
}

.rtable-space {
  border: 0px !important;
}

.center-table {
  table-layout:fixed;
  margin-top:30px;
  margin-bottom:30px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.actions {
  margin-top: 20px;
}

#victims-queue {
  margin: auto;
}

.section-header{
  margin-top: 0;
}

.text-default {
  color: #6265B1
}

.modal .modal-body {
  background: #363942;
  color: #fff;
}

.modal .modal-body input[type="checkbox"]:focus {
  outline: 2px solid #5bc0de;
}

.modal .modal-body .checkbox label {
  min-height: auto;
}

@media print {
  body *:not(.printable *) {
    display: none;
  }
  .no-printable {
    display: none !important;
  }
  .printable {
    page-break-before: always;
    page-break-after: always;
  }
}
