
<div class="row">

  <div class="col-sm-offset-1 col-md-10">


  <div class="panel panel-body panel-default" style="padding-top: 80px; padding-bottom: 80px">
    <div class="row">
      <div class="col-sm-12">
          <p style="font-size:200px; text-align:center">SAMS</p>
      </div>
      <div class="col-sm-12">
          <p style="text-align:center">Some AWESOME memory scheduler</p>
      </div>

      <!-- app + about buttons -->
      <div class="col-sm-6">
        <a class="btn btn-primary pull-right" ui-sref="step.requirements"> <span class="glyphicon glyphicon-console"></span> APP</a>
      </div>
      <div class="col-sm-6">
        <a class="btn btn-primary" ui-sref="about"> <span class="glyphicon glyphicon-info-sign"></span> About</a>
      </div>
    </div>
  </div>

  </div>
</div>
