
<div class="panel panel-default col-xs-12">
	<div class="panel-body">

		<div class="row">
			<!--Breadcrumb, position: 1  | /REQUIREMENTES/algorithm/policies/resolution -->
			<nav>
				<ol class="cd-multi-steps text-top">
					<li class="current"><em>{{ 'BREADCRUMB_REQUIREMENTS' | translate }}</em></li>
					<li><em>{{ 'BREADCRUMB_POLICIES' | translate }}</em></li>
					<li><em>{{ 'BREADCRUMB_RESOLUTION' | translate }}</em></li>
				</ol>
			</nav>
		</div><!-- /breacrumbs -->

		<div class="row back-forward-buttons">
			<div class="col-sm-6">
				<!-- nothing -->
			</div>
		  <div class="col-sm-6">
		    <a class="btn btn-primary btn" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span> </a>
		  </div>
		</div><!-- /Back-Forward buttons -->

		<div class="row data-input">
			<button class="btn btn-primary" type="button" name="button" ng-click="loadDefault()">{{ 'EXAMPLE' | translate }}</button>
			<div class="page-header">
				<h3>Processes:</h3>
			</div>
			<div class="input-group">
				<span class="input-group-addon">Processes</span>
				<input type="text"
							 pattern="([a-zA-Z][,]{0,1}){1,}"
							 class="form-control grey-color"
							 placeholder="Processes' names"
							 name="name"
							 ng-model="inputProcesses">
			</div>

			<div ng-hide="!processes.length" class="pages-per-process">
			  <div class="page-header">
					<h3>Requested pages for each process:</h3>
			  </div>
				<div class="input-group" ng-repeat="p in processes">
				  <span class="input-group-addon">{{p}}</span>
				  <input name="name" ng-model="pages[p]" type="text" class="form-control grey-color">
				</div>
			</div>
		</div><!-- data input -->

		<div class="row" ng-show="hasPages()">
			<div class="page-header">
				<h3>Request's sequence: </h3>
			</div>
			<div class="secuences-container">
			  <div class="col-xs-2 well grey-color" ng-repeat="s in secuences">
					<button class="btn btn-small btn-danger pull-right btn-close" ng-click="deleteRequest($index)">X</button>
					<div class="input-group">
						<label for="process">Process:</label>
				    <select class="form-control" ng-model="s.process" name="process">
				      <option ng-repeat="p in processes"
											ng-class="{'hidden':(remainingRequeriments(p)<0||isFinished(p))}"
											value="{{p}}"
											ng-selected="s.process==p">{{p}}
							</option>
				    </select>
					</div>

					<div class="input-group">
						<label for="mode">Mode:</label>
				    <select class="form-control" ng-model="s.mode" name="mode" ng-change="changeMode(s)" ng-disabled="!s.process">
				      <option ng-repeat="m in modes"
											value="{{m}}"
											ng-selected="s.mode==m"
											ng-show="(remainingRequeriments(s.process) > 0 || m == 'finish')">{{m}}
							</option>
				    </select>
					</div>

					<div class="input-group">
						<label for="name">Nº Pages:</label>
						<input class="form-control"
									min="0"
									type="number"
									name="name"
									placeholder="cant"
									ng-model="s.cantPages"
									ng-change="checkMaxPages(s)"
									ng-disabled="!s.mode || s.mode=='finish'">
					</div>
			  </div><!-- /secuences -->

				<!-- button add (simil to requirement) -->
				<div class="col-xs-2 well grey-color fake-requirementsWell">
					<div class="button-add" ng-click="add()"></div>
					<div class="input-group">
						<label for="process">Process:</label>
				    <select class="form-control grey-color" name="process" disabled>
				      <option></option>
				    </select>
					</div>

					<div class="input-group">
						<label for="name">Nº Pages:</label>
						<input class="form-control grey-color" type="number" name="name" placeholder="cant" disabled>
					</div>

					<div class="input-group">
						<label for="mode">Mode:</label>
				    <select class="form-control grey-color" name="mode" disabled>
				      <option></option>
				    </select>
					</div>
				</div>
			</div><!-- secuences-container -->
		</div>

		<div class="row buttons-sequence">
	  	<input type="button" class="btn btn-sm btn-danger pull-right" name="name" value="Preview page requirements" ng-click="processRequirements()">
		</div><!-- add sequence -->

	  <div class="row well grey-color">
			<p class="text-muted">Generated page requirements</p>
      <div class="col-xs-2" ng-repeat="r in requirements">
        <div ng-class="{'read':'panel-primary', 'write':'panel-danger', 'finish':'panel-success' }[r.mode]" class="panel">
          <div class="panel-heading requirement">
            <p> {{r.process}} </p>
						<p> {{r.pageNumber}} </p>
						<p> {{r.mode}} </p>
					</div>
        </div>
    	</div>
	  </div>
	</div><!-- /panel body -->
</div>
