<div class="panel panel-default">
	<div class="panel-body">

		<!--Breadcrumb, step 4 -->
			<nav>
				<ol class="cd-multi-steps text-top">
					<li class="visited"><em>Requirement</em></li>
					<li class="visited"><em>Algorithm</em></li>
					<li class="visited"><em>Policies</em></li>
					<li class="current"><em>Resolution</em></li>
				</ol>
			</nav>
		<!-- /breacrumbs -->
		<!-- Back-Forward buttons -->
		<div class="row">
			<div class="col-sm-6">
		    <a class="btn btn-primary btn pull-right" ui-sref="step.policies"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
		  <div class="col-sm-12">
		    <!-- results memory-->
				<table class="table table-bordered">
					<thead>
						<!-- render nº instant-->
						<tr>
							<td>nº Frame</td>
							<td ng-repeat="i in [0, instants] | makeRange">{{i}}</td>
						</tr>
					</thead>
					<tbody>
						<!-- render nº frames-->
						<tr ng-repeat="n in [0, framesTotal] | makeRange">
							<td>{{n}}</td>
							<td ng-repeat="p in results">
								{{ p.frames[n].process }}-{{ p.frames[n].pageNumber }}
							</td>
						</tr>
						<tr>
							<td>PF</td>
							<td ng-repeat="p in results">
								{{ p.pageFault ? 'X' : ''}}
							</td>
						</tr>
					</tbody>
				</table>
		  </div>
		</div>
		<!-- /Back-Forward buttons -->
  </div>
</div>
